h1{
    text-align: center;
    align-items: center;
}
.start{
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: center;
}

.magyar{
    display: inline-block;
}

.angol{
    display: inline-block;
}